/* .languageRow {
    align-content: center;
}*/

.languageCol{
    align-items: center;
}

.languageWrapper {
    align-content: center;
    display: inline flow-root;
}

.languageText{
    width: 400px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
}

.language-heading-text {
    font-family: 'Josefin Sans', sans-serif;    font-size: 30px;
    font-size: 30px;
}
