.workexperience-card-wrapper {
    margin-top: 100px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding-left: 50px;
    background: #EEEEEE;
}

.company-intro {
    font-family: 'Josefin Sans', sans-serif;  
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-top: 30px;
}

.work-history {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;  
}

.key-roles-heading {
    font-family: 'Josefin Sans', sans-serif;  
}

.key-roles {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;  
}